POSTGRES_PASSWORD=PostgreSQL Password Here
POSTGRES_USER=PostgreSQL Username Here
POSTGRES_DB=PostgreSQL Database Name Here
GOOGLE_CLIENT_ID=Google Client ID Here
GOOGLE_CLIENT_SECRET=Google Client Secret Here
FRONTEND_URL=Frontend URL Here
BACKEND_URL=Backend URL Here
ALLOWED_PROVIDER=Provider Name Here
SESSION_SECRET=Session Secret Key Here
REDIS_URL=Redis URL Here
OAUTH_AUTHORIZE_URL=OAUTH Authorize URL Here
OAUTH_TOKEN_URL=OAUTH Token URL Here
OAUTH_USERINFO_URL=OAUTH User Info URL Here
OAUTH_SERVER_URL=OAUTH Server URL Here
ALGORITHM=JWT Algorithm Here
CODE_CHALLENGE_METHOD=Code Challenge Method Here